{% extends 'base.html' %}
{% block content %}
<div>
        <div class="alert alert-info">education details</div>
        <a href="#" id="add_book" class="btn btn-success">Add Qualification</a>
        <button id="show_book" type="button" style="display:none;" class="btn btn-success"><span
                class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </button>
        <div id="book_table">
            <table id="table" class="table table-bordered">
                <thead class="alert-success">
                <tr>

                    <th>courses</th>
                    <th>university</th>
                    <th>year</th>

                    <th>percentage</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
{% for q in qualification%}
                    <tr>
                        <
                        <td>{{ q.course }}</td>
                        <td>{{ q.university }}</td>
                        <td>{{ q.year }}</td>
                        <td>{{ q.percentage }}</td>



                        <td><a class="btn btn-danger delbook_id" href="{% url 'delete_course' q.id %}"><span
                                class="glyphicon glyphicon-remove"></span> Delete</a>
                           </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div id="edit_form"></div>
        <div id="book_form" style="display:none;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form id="form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>course Title:</label>
                        <input type="text" name="course" required="required" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>university:</label>
                        <input type="text" name="university" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>year:</label>
                             <input type="date" name="year" class="form-control"/


                    </div>
                    <div class="form-group">
                        <label>percentage:</label>
                        <input type="number" name="percentage" class="form-control" required="required"/>
                    </div>

                    <div class="form-group">
                        <button name="save_book" id="save_book" type="submit" class="btn btn-primary"><span
                                class="glyphicon glyphicon-save"></span>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    /*    $(document).ready(function () {
            $('#table').DataTable();
        });
        $(document).ready(function () {
            $('#add_book').click(function () {
                $(this).hide();
                $('#show_book').show();
                $('#book_table').slideUp();
                $('#book_form').slideDown();
                $('#show_book').click(function () {
                    $(this).hide();
                    $('#add_book').show();
                    $('#book_table').slideDown();
                    $('#book_form').slideUp();
                });
            });
        });

        });*/
        $(document).ready(function () {

            $('#table').DataTable();
        });
        $(document).ready(function () {
        $('#add_book').click(function () {
            $(this).hide();
            $('#show_book').show();
            $('#book_table').slideToggle("fast");
        $('#book_form').slideDown();
            $('#show_book').click(function () {
                $(this).hide();
                $('#add_book').show();
                $('#book_table').slideDown();
                 $('#book_form').slideUp();

            });


        }) ;
        });


    </script>

{% endblock %}